.lable {
	display: grid;
	font-weight: 600;
	grid-row-gap: 0.5rem;
	margin-top: 1rem;
}

.group {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
}

.flex {
	display: block;
}

.password {
	background-color: #1c1c1f;
	color: #fff;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:focus {
		background-color: #f0f0f0;
	}

	> img {
		cursor: pointer;
		margin-right: 1rem;
	}

	> input {
		background-color: transparent;
		border: none;
		font-size: 16px;
		font-family: inherit;
		padding: 1rem;
		border-radius: 0.5rem;
		transition: background-color 0.2s;
		width: 100%;
		margin-right: -2.5rem;

		&::placeholder {
			color: #6a6a77;
		}

		&:focus {
			outline: none;
			background-color: #212125;
		}
	}
}

.error {
	color: #d63636;
	text-wrap: wrap;
	max-width: 24ch;
}
