.create {
	border: 2px solid #ac2da6;
	padding: 40px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	transition: background-color 0.2s, border 0.2s;
	position: relative;
	overflow: hidden;
	&:hover {
		background-color: #ac2da6;
		border: 2px solid transparent;
		&::after {
			transform: translateY(0);
		}
	}
	svg {
		z-index: 10;
	}

	&::after {
		background-color: #ac2da6;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		transform: translateY(100%);
		transition: transform 0.3s;
		z-index: 0;
		border-radius: 50%;
	}
}
