.lable {
	display: grid;
	font-weight: 600;
	grid-row-gap: 0.5rem;
}

.link {
	cursor: pointer;
	font-weight: 600;
}

.btn {
	margin-top: 2rem;
}

.account {
	text-align: center;
	margin-top: 1.5rem;
}
